<?php
// RS OAuth Creds
$api_secure_token = "KEY HERE";

// DB Creds
$db_name = 'rs_php';
$db_user = 'root';
$db_pass = '';
$db_server = '';

// Site Vars
$siteURL = "http://127.0.0.1:8888";

// OAuth debug flag
$debug = true;
?>